<!-- views/pages/accueil.ejs -->

<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../partials/head') %>
    </head>

    <body class="container">
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>Accueil</h1>
                <p>Bienvenue à mon site web</p>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>

    </body>

</html>