<!-- views/pages/accueil.ejs -->

<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../partials/head') %>
    </head>

    <body class="container">
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>Accueil</h1>
                <p>Bienvenue à mon site web</p>
                <label id = labelNo></label></br>
                <label id = labelDebut></label></br>
                <label id = labelRefresh></label></br>
                Heure actuelle: 
                <label id = labelHeure></label></br>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    <script>
        var socket = io.connect('http://localhost:8080');
        socket.on('message1', function(message) {
            alert('Le serveur a un message pour vous : ' + message);
            $('#labelNo').text(message);

        });
        socket.on('message2', function(message) {
            $('#labelDebut').text(message);

        });
        socket.on('message3', function(message) {
            $('#labelRefresh').text(message);

        });
    </script> 
    <script>
        $(function() {
            function Horloge() {
                var laDate = new Date();
                var h = laDate.getHours() + ":" + add_zero(laDate.getMinutes(),2) + ":" + add_zero(laDate.getSeconds(),2);
                $('#labelHeure').text(h);
            }
            function add_zero(your_number, length) {
                var num = '' + your_number;
                while (num.length < length) {
                    num = '0' + num;
                }
                return num;
            }   
            setInterval(Horloge, 1000);
        });
    </script>    
    </body>

</html>