<!-- views/pages/contact.ejs -->

<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../partials/head') %>
    </head>

    <body class="container">
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>Contact</h1>
                <p>Mes infos: parent.felix@gmail.com 438-356-9827</p>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>

</html>